on:
  push:
    branches:
      - main
      - dev-ops
    tags:
      - 'v*'  # optional, allows automatic release when you push a version tag (e.g., v1.0.0)

jobs:
  build-and-release:
    permissions:
      contents: write      # needed to create a release
      packages: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Login
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u USERNAME --password-stdin

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/fgcu-byte-squad/artgallery:latest
